@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;
  font-family: var(
    --font-baloo
  ); /* Ensure that --font-rem is defined somewhere */
}

.font-it {
  font-family: var(
    --font-rem-italic
  ); /* Ensure that --font-rem-italic is defined somewhere */
}

.navlink:hover > ul {
  display: flex;
  animation: linkMenu 0.3s forwards;
}

.linkmenu:hover > *:after {
  width: 100%;
}

.searchbar {
  animation: linkMenu 0.3s forwards;
}

@keyframes linkMenu {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.buttonNav:hover > * {
  border-radius: 40px;
  background: transparent;
  color: white;
}

.buttonBg:hover > div {
  background: transparent;
}
